################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharp/DarkKnight.client/bin/Debug
/CSharp/DarkKnight.client/obj/Debug
/CSharp/DarkKnight.client/Properties
/CSharp/DarkKnight.client.v12.suo
/CSharp/DarkKnight.client/DarkKnight.client.v12.suo
/CSharp/DarkKnight.client.sln
/CSharp/DarkKnight.client/bin/Release
/CSharp/DarkKnight.client/obj/Release
